body {
    background: white;
  background-image: linear-gradient(90deg, rgba(236, 193, 212,.3) 65%, transparent 0),
    linear-gradient(rgba(236, 193, 212,.3) 65%, transparent 0);
  background-size: 50px 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-wrap: wrap;
    font-family: "SN Pro", sans-serif;
        
}

ul, ol {
    text-align: left;
}

#links {
    padding-bottom: 20px;
    font-weight: bold;
}

.box {
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 15px;
    background-color: #B4CBDB;
    height: auto;
    width: 50%;
    max-width: 50%;
    border: 4px solid #242590;
}

footer {
    font-size: 7px;
}

b {
    color: #4E4BAB
    text-decoration: none;
}

b:active, b:hover {
    font-style: italic;
}

a {
    color: #4E4BAB;
    text-decoration: none;
}

a:active, a:hover {
    font-style: italic;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
